html{
    height: 100%;
}
#main{
    background: url(https://images.unsplash.com/photo-1486583474878-b16d8f2749b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
}
#content{
    padding-top: 25%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 12px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 
}
#bold{
    font-size: 5em;
    font-weight: 700;
}
hr{
    border-bottom:1px solid rgba(0,0,0,0.2);
    border-top:  1px solid #f8f8f8; 
    width: 400px;
}